---
import Layout from '../layouts/Layout.astro';
import LandingHeader from "../components/LandingHeader.astro";
import HeroSection from '../components/HeroSection.astro';
import ModelY from '../components/ModelY.astro';
import Section from '../components/Section.astro';
---
<Layout title="Tesla - Automomus Drive Car">
	<LandingHeader />
	<main class="snap-y snap-mandatory w-full overflow-auto relative scroll-smooth">
		<div class="snap-center">
			<HeroSection/>
		</div>
		<div class="snap-center">
			<ModelY />
		</div>
		<div class="snap-center">
			<ModelY />
		</div>
	</main>
</Layout>