---
import Section from '../components/Section.astro';
---
<Section color="white" title="Experience Tesla" subtitle="Schedule a Demo Drive Today" underlineSubtitle={false}>
  <div slot="footer">
    <a href="#" class={`border-[3px] border-white bg-white/5 backdrop-blur-xl rounded font-medium text-sm ${`text-white`} px-12 py-2 inline-block hover:bg-white hover:text-black transition-colors`}>Demo Drive</a>
  </div>
  <video class="object-cover object-center h-full w-full" src="./video.webm" autoplay muted loop slot="background"></video>
</Section>